In [44]:
#setwd("/home/liyi/Dropbox/model")
X=read.csv("~/Dropbox/model/adults.recruits.merged.csv")
feature_name=c("year","lat","lon","sitenum","cover","filter_chla_mean","filter_sst_mean","filter_upw_mean","mytilus.rec")
X=X[feature_name]
tail(X,10)
#plot(X[,"filter_upw_mean"],X[,"cover"])
#plot(X[,"filter_upw_mean"],X[,"mytilus.rec"])

    year      lat       lon sitenum   cover filter_chla_mean filter_sst_mean
230 2004 44.82667 -124.0567      10 80.6889         3.662119       11.826453
231 2004 45.75500 -123.9650      51  3.7333         4.980644       14.210735
232 2004 45.77000 -123.9700       9  0.1000         4.980644       14.210735
233 2004 45.91333 -123.9767      50 19.6667         5.567718       14.660065
234 2004 47.86000 -124.5700       6  0.0667         7.603948       12.273295
235 2004 47.87000 -124.6000       5  0.2000         7.110147       12.557759
236 2004 47.94000 -124.6583       4  0.2333         7.252411       12.572059
237 2004 48.31333 -124.6600       3 11.5000         5.044518       10.396455
238 2004 48.33750 -124.6875       2 22.4333         4.839913       10.325893
239 2004 48.38917 -124.6500       1 61.8621         4.465045        9.895781
    filter_upw_mean mytilus.rec
230      -0.7602897    4.828388
231      -2.7116500    5.475286
232      -2.7116500    5.481912
233      -2.7116500    5.569498
234      -5.7128651    6.462187
235      -5.7128651    6.450858
236      -5.7128651    6.461110
237      -5.7128651    6.698514
238      -5.7128651    6.697709
239      -5.7128651    6.752841

In [48]:
nsample=dim(X)[1]
X["ycover"]=NA
for(i in 1:nsample){
    idx=(X[,"sitenum"]==X[i,"sitenum"])&(X[,"year"]==X[i,"year"]+1)
    
    if(sum(idx)){
        X[i,"ycover"]=X[idx,"cover"]
    }
    
   
}
X1=X[complete.cases(X),]
head(X1)
dim(X1)

  year     lat       lon sitenum   cover filter_chla_mean filter_sst_mean
1 1999 39.2725 -123.7975      24 32.7667        0.8554160        11.18750
2 1999 39.3400 -123.8200      23 39.6333        0.8837168        11.10680
3 1999 39.4150 -123.8100      22  0.2667        0.9372152        11.07227
4 1999 39.5975 -123.7800      21 46.5667        1.0786374        11.10985
5 1999 40.0200 -124.0733      20 22.6000        0.9299333        11.16466
6 1999 41.0600 -124.1500      19 26.8667        2.1116800        10.49518
  filter_upw_mean mytilus.rec  ycover
1        72.58783           0 44.6897
2        72.58783           0 31.6333
3        72.58783           0  0.2069
4       121.22149           0 71.1000
5       121.22149           0 21.4333
6        79.06704           0 22.3000

[1] 190  10

In [68]:
y=X1["ycover"]
y[y[,1]==0,]=min(y[y[,1]!=0,])/2 # replace 0 to the minimum positive number
y=log(y) # take log of the species number
#head(y)

N=X1["cover"]
#head(N)

D=dist(X[X[,"year"]==2001,"lat"],diag = T,upper = T)
D=as.matrix(D)
for(i in 1:48){
    for(j in 1:48){
        if(i>j){
            D[i,j]=-D[i,j]
        }
    }
}

D=as.matrix(D)
D[1:6,1:6]

E=X1[,c("filter_chla_mean","filter_sst_mean","filter_upw_mean")]

           1           2           3           4            5           6
1  0.0000000  0.10833359  0.12833405  0.72833252  0.738334656 0.748332977
2 -0.1083336  0.00000000  0.02000046  0.61999893  0.630001068 0.639999390
3 -0.1283340 -0.02000046  0.00000000  0.59999847  0.610000610 0.619998932
4 -0.7283325 -0.61999893 -0.59999847  0.00000000  0.010002136 0.020000458
5 -0.7383347 -0.63000107 -0.61000061 -0.01000214  0.000000000 0.009998322
6 -0.7483330 -0.63999939 -0.61999893 -0.02000046 -0.009998322 0.000000000

In [69]:
names(X1)

 [1] "year"             "lat"              "lon"              "sitenum"
 [5] "cover"            "filter_chla_mean" "filter_sst_mean"  "filter_upw_mean"
 [9] "mytilus.rec"      "ycover"

# This is for pisco dataset

In [4]:
library(synchrony)
data(pisco.data)
y=subset(pisco.data,year>2000,select=c(mussel_abund)) # species number
y[y[,1]==0,]=min(y[y[,1]!=0,])/2 # replace 0 to the minimum positive number
y=log(y) # take log of the species number

head(pisco.data)
head(y)

  latitude longitude       chl      sst upwelling mussel_abund year
1 32.71167 -117.2500 0.8897000 16.51596  85.17711       1.0667 2000
2 32.82000 -117.2767 0.8095000 16.76317  85.17711      46.7000 2000
3 32.84000 -117.2800 0.7844000 16.78249  85.17711      10.6000 2000
4 33.44000 -118.4767 0.5192727 16.48601  70.71932       2.8000 2000
5 33.45000 -118.4800 0.5192727 16.44148  70.71932       0.9333 2000
6 33.46000 -118.5200 0.5017273 16.44452  56.26153       0.4000 2000

   mussel_abund
49  -0.35667494
50   3.44574682
51   1.81916385
52   0.09839632
53  -0.62867116
54  -0.69314718

In [2]:
N=subset(pisco.data,year<2003,select=c(mussel_abund)) # (past) species number
#D=coord2dist(pisco.data[1:48,1:2],lower.tri = F) # site distance
#D=coord2dist(cbind(pisco.data[1:48,1],rep(pisco.data[1,2],48)),lower.tri = F) # site distance
D=dist(pisco.data[1:48,1],diag = T,upper = T)
D=as.matrix(D)
for(i in 1:48){
    for(j in 1:48){
        if(i>j){
            D[i,j]=-D[i,j]
        }
    }
}
E=subset(pisco.data,year<2003,select=c(chl,sst,upwelling)) # Environment variable
D=as.matrix(D)
D[1:6,1:6]

           1           2           3           4            5           6
1  0.0000000  0.10833359  0.12833405  0.72833252  0.738334656 0.748332977
2 -0.1083336  0.00000000  0.02000046  0.61999893  0.630001068 0.639999390
3 -0.1283340 -0.02000046  0.00000000  0.59999847  0.610000610 0.619998932
4 -0.7283325 -0.61999893 -0.59999847  0.00000000  0.010002136 0.020000458
5 -0.7383347 -0.63000107 -0.61000061 -0.01000214  0.000000000 0.009998322
6 -0.7483330 -0.63999939 -0.61999893 -0.02000046 -0.009998322 0.000000000

$$
\begin{equation}
y=K+\log(\sum_{i=1}^{n_s}N_{ti}e^{-\frac{(d_{si}-\mu_d)^2}{\sigma_d^2}})+\beta_1e_{chi}+\beta_2e_{sst}+
\beta_3e_{upw}+\epsilon,
\end{equation}
$$

$$
\begin{equation}
A_{x,t+1}=[\sum_{i=1}^{n_s}A_{i,t}e^{-\frac{(d_{si}-\mu_d)^2}{\sigma_d^2}}]e^{\beta_0+\beta_1e_{upw}+
\beta_2e_{upw}^2}+\epsilon,
\end{equation}
$$

In [3]:
# log-likelihood function
logl1=function(t,y,N,D,E){
  n=dim(y)[1]
  f=rep(0,n) # value of the regression function
  yr=rep(0:2,each=48) # 3 years(0-2) used: 00-03 for X, 01-04 for y
  for(j in 1:n){
    # dispersal kernal (for the 48 sites)
    Ker=exp(-(D[j%%48+((j%%48)==0)*48,]-t[1])^2/(t[2]^2)) 
    # number of species for 48 sites
    Nj=N[(yr[j]*48+1):((yr[j]+1)*48),] 
    # dispersal + three environment terms
    f[j]=sum(Ker*Nj)*exp(t[3]+t[4]*E[j,3]+t[5]*E[j,3]^2) 
  }
  
  return(sum((y[,1]-f)^2)) # return the objective function
}


# do the optimization to find the parameters
t0=c(100,2,0.1,0.1,0.01)
res1=nlm(logl1,t0,hessian=T,print.level=1,y=y,N=N,D=D,E=E,iterlim=1e4,steptol=1e-5)

iteration = 0
Parameter:
[1] 1e+02 2e+00 1e-01 1e-01 1e-02
Function Value
[1] 161359.6
Gradient:
[1] 0 0 0 0 0

Relative gradient close to zero.
Current iterate is probably solution.